* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control {
    max-width: 500px;
    margin: auto;
}

.back-to-login {
    margin-left: 8px !important;
}

.activation-message {
    font-size: 15px !important;
}

hr {
    border: none;
    border-top: 2px solid grey;
    color: gray;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 25px;
}

.signin:after {
    background: #fff;
    content: 'or you can sign in with';
    padding: 0 10px;
    position: relative;
    top: -13px;
}


.signup:after {
    background: #fff;
    content: 'or you can sign up with';
    padding: 0 10px;
    position: relative;
    top: -13px;
}

/* Profile Page Styling */
.profile {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: 30px; */
}

.profileImage img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


.profileTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}

/* Media Query for Profile  Title */
@media screen and (max-width: 680px) {
    .profileTitle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.profileTitle .button {
    margin-bottom: 15px;
}


.profileData .vff {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 50px;
    color: rgb(66, 73, 175);
}

.profileData .vff .viewedBy {
    margin-right: 10px;
}

.profileData .vff .viewedBy:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profileData .vff .followers {
    margin-right: 10px;
}

.profileData .vff .followers:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profileData .vff .following {
    margin-right: 10px;
}

.profileData .vff .following:hover {
    cursor: pointer;
    text-decoration: underline;
}


.profileData .social {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;
}


.profileData .social a {
    color: black;
    margin: 5px;
}


.profileData .social a:hover {
    color: rgb(66, 73, 175)
}

.profileData .bio {
    font-size: 15px;
    margin-left: 50px;
    margin-top: 20px;
    white-space: pre-wrap;
}

.peopleWhoViewedYourProfileList {
    margin-bottom: 10px;
}

.user-blogs {
    margin-top: 30px;
}




.latestBlogLDC {
    display: flex;
    color: #4183c4;
    font-size: 16px;
    margin-top: 10px;
}

.latestBlogLDC p {
    margin-right: 14px;
}

.blog-read-more-button:hover {
    border-bottom: 2px solid #4183c4;
}

.single-blog-author {
    display: flex;
    align-items: center;
}

.single-blog-header {
    margin-top: 10px;
}

.single-blog-header img {
    /* display: block; */
    /* margin: auto; */
    width: 100%;
    height: 400px;
}

.single-blog-content img {
    /* display: block;
    margin: auto; */
    width: 100%;
    height: 300px;
}

.author-data {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.single-blog-vldc {
    display: flex;
    font-size: 17px;
    color: #4183c4;
}

.single-blog-vldc p {
    margin-right: 16px;
}

.single-blog-vldc p .icon:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Comments on blog */

.single-blog-comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.comment-data {
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.deleteComment {
    position: absolute;
    left: 70%;
}

.deleteComment:hover {
    cursor: pointer;
}